<% @recipes.each do |recipe| %>
    <div class ="border">
    <div class="recipe"> 
    <h2>Recipe:<%= recipe.id%> </h2>
    <%= link_to "Remove", user_recipe_path(recipe.user, recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
    <div class="description">
    <p><%= recipe.description%></p>
    </div>
    </div>
<%end%>
