.new-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.new-recipe-form > h1 {
  font-family: var(--primary-font);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.new-recipe-form > form {
  width: 70%;
  padding: 1.5rem 2.5rem;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-group > input[type="text"],
.form-group > textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--secondary-font);
}

.actions {
  width: 100%;
  margin-top: 1rem;
}

.actions > input[type="submit"] {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 2px #a6a6a6;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.actions > input[type="submit"]:hover {
  background-color: #32b768;
  box-shadow: 2px 2px 3px #a6a6a6;
}

.form-control {
  margin-bottom: 1rem;
}

/* Range style starts here */

input[type=range] {
  height: 22px;
  width: 100%;
  margin-bottom: 1.5rem;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #e6e6e6;
  border-radius: 22px;
  border: none;
  box-shadow: 1px 1px 2px #a6a6a6;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 0 #000;
  border: 2px solid #fff;
  height: 14px;
  width: 28px;
  border-radius: 12px;
  background: #32b768;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e6e6e6;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 5px 10px;
}
